* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

#searchBox {
    padding-top: 20px;
text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* makes columns stack responsively */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}

.results {
    margin-left: 20px;
}

#edit {
    margin-left: 20px;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal
}

.editInput {
    width: 300px;
}