<!-- <div layout="container" layout-padding layout-wrap layout-fill>     -->
<div class="container">
    <div class="header">
        <h1>myRetail RESTful Service</h1>
    </div>
    <div class="row" id="searchBox">
        <form name="searchForm">
            <md-input-container>
                <label>Search by Product ID</label>
                <span>
                    <input name="search" ng-model="mrc.idNumber" required md-maxlength="8" minlength="8">
                    <md-button ng-click="mrc.getProduct(mrc.idNumber)" class="md-raised md-primary">Search</md-button>
                </span>
                <div ng-messages="searchForm.search.$error" ng-show="searchForm.search.$dirty">
                    <div ng-message="md-maxlength">Product ID's are 8 digits.</div>
                </div>
            </md-input-container>
        </form>
    </div>
    <div class="row" id="message">
        <h4>{{mrc.message}}</h4>
    </div>
    <div class="row">
        <div class="column">
            <div class="results" <br>
                <br>
                <p>Product ID:
                    <span>{{mrc.productData.product_id}}</span>
                </p>
                <br>
                <p>Product Name:
                    <span>{{mrc.productData.name}}</span>
                </p>
                <br>
                <p>Current Price:
                    <span>{{mrc.productData.current_price.value}}
                        <md-button ng-show="mrc.priceShown" class="md-icon-button" aria-label="Edit">
                            <md-icon class="material-icons blue1" ng-click="mrc.editPrice()">edit</md-icon>
                        </md-button>
                    </span>
                </p>

                <br>
                <p>Currency Code:
                    <span>{{mrc.productData.current_price.currency_code}}</span>
                </p>
                <br>
            </div>
        </div>
        <div class="column">
            <div id="edit" ng-show="mrc.editing">
                <h3>Update Price</h3>
                <form name="mrc.editForm">
                    <div layout-gt-xl="row">
                        <md-input-container class="md-block editInput">
                            <label>Value</label>
                            <input id="value" ng-model="mrc.newPrice.value">
                        </md-input-container>
                    </div>
                    <div layout-gt-xl="row">
                        <md-input-container class="md-block editInput">
                            <label>Currency Code</label>
                            <input id="currency" ng-model="mrc.newPrice.currency_code">
                        </md-input-container>
                    </div>
                    <md-button class="md-raised" ng-click="mrc.updatePrice(mrc.productData.product_id, mrc.newPrice)">
                        Update
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="mrc.cancel()">
                        Cancel
                    </md-button>
                </form>
            </div>
        </div>
    </div>
</div>